@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .inter-500 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }

    .lemon-400 {
        font-family: 'Lemon', serif;
        font-weight: 400;
    }

    .teko-500 {
        font-family: 'Teko', sans-serif;
        font-weight: 500;
    }
  }

@layer base {
    .max-width-1175 {
        max-width: 1175px;
    }

    .max-max {
        max-width: 100vw;
    }
    
}

@layer utilities {
    .destacado {
        color: #823E7E;
        font-size: 1.2rem;
        font-family: 'Teko', sans-serif;
        font-weight: 500;
    }

    .destacado2 {
        color: #bd2bb3;
        font-size: 1.2rem;
        font-family: 'Teko', sans-serif;
        font-weight: 500;
        padding: 2rem;
    }

    .destacado3 {
        color: rgb(237, 228, 240);
        font-size: 1.2rem;
        font-family: 'Teko', sans-serif;
        font-weight: 500;
    }
}